<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Happy tech jobs Application</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login-page.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./local-script.js"></script>
</head>

<body>
    <header class="px-5">
        <nav class="navbar navbar-expand-lg py-3 mp-nav fixed-top">
            <a class="navbar-brand mp-text-primary font-weight-bold" title="Happy tech jobs Application" href="index.html">
                Happy tech jobs Application
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navb">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item mx-4">
                        <a class="nav-link mp-text-primary" href="index.html">Jobs</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link mp-text-primary" href="application-status.html">Application Status</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link mp-text-primary" href="my-profile.html">My Profile</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link mp-text-primary" href="sign-in.html">Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- section one start -->
    <section class="position-relative">
<div class="container-fluid login-container">
            <div class="row">
                <div class="col-10 mx-auto login-form-1 p-0">
                    <form>
                        <h3 class="mb-4">My Profile</h3>
                        <div class="row">

                        <div class="col-4">
                        <div class="form-group">
                        <label class="label-text m-0">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                        </div>
                        </div>

                        <div class="col-4">
                        <div class="form-group">
                        <label class="label-text m-0">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" value="" />
                        </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                        <label class="label-text m-0">Gender</label>
                              <select class="form-control" id="sel1">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                        <label class="label-text m-0">Email</label>
                            <input type="email" class="form-control" placeholder="Please enter email" value="" />
                        </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                        <label class="label-text m-0">Phone No</label>
                            <input type="text" class="form-control" placeholder="Please enter phone no" value="" />
                        </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                        <label class="label-text m-0">Degree</label>
                            <input type="text" class="form-control" placeholder="Please enter degree" value="" />
                        </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                        <label class="label-text m-0">Year's Of Experience</label>
                            <input type="text" class="form-control" placeholder="Please enter experience" value="" />
                        </div>
                        </div>

                         <div class="col-4">
                          <div class="form-group">
                        <label class="label-text m-0">Blog/Website Url</label>
                            <input type="text" class="form-control" placeholder="Please enter Blog/Website Url" value="" />
                        </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                        <label class="label-text m-0">IT Skills</label>
                            <textarea class="form-control" style="resize: none;" rows="5" id="comment" placeholder="Please enter IT Skills"></textarea>
                        </div>
                        </div>

                        </div>

                        <div class="row">
                        <div class="col-6 mx-auto">
                        <div class="form-group pt-4 text-center">
                            <input type="submit" class="btnSubmit" value="Update" />
                        </div>
                        </div>
                        </div>

                        

                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- section one end -->
</body>

</html>